html {
	display: flex;
	justify-content: center;
	align-items: center; 
}

#board {
	width: 500px;
	height: 500px;
	margin-top: 150px;
	background-color: #dadae3;
	border-radius: 30px;
}

.block {
	width: 100px;
	height: 100px;
	line-height: 100px;
	background-color: black;
	border-radius: 50px;
	margin-left: 20px;
	margin-top: 50px;
	float:left;
	user-select:none;
	text-align: center;
	font-size: 50px;
	cursor: pointer;
}

