html {
	display: flex;
	justify-content: center;
	align-items: center; 
}

#container {
	position: relative;
	width: 510px;
	height:550px;
	margin-top: 150px;
}

#top {
	position: absolute;
	top: 10px;
	right: 55px;
	width: 400px;
	height: 20px;
	color: #f8b3c3;
	font: bold 17px sans-serif;  
	user-select:none;
}

#board {
	position: absolute;
	width: 500px;
	height: 500px;
	bottom: 5px;
	background-color: #facad5;
	border-right: 8px solid #f8b3c3;
	border-bottom: 8px solid #f8b3c3;
	border-radius: 30px;
	margin-top: 50px;
	perspective: 1000px;
}

.block {
	position: relative;
	width: 100px;
	height: 100px;
	line-height: 100px;
	border-radius: 50px;
	margin-left: 20px;
	margin-top: 50px;
	float:left;
	user-select:none;
	text-align: center;
	font-size: 50px;
	cursor: pointer;
	transition: 0.6s;
	transform-style: preserve-3d;
}

.restart {
	width: 20px;
	height: 20px;
	float: right;
	background-image: url('../image/restart.png');
	background-size: 20px 20px;
	cursor: pointer;
}


.front {
	transform: rotateY(0deg);
	color:white;
	background-color: #bd80f4;
}

.back {
	transform: rotateY(180deg);
	color: #CAFAEF;
	background-color: #CAFAEF;
}
